<section id="historique">
  <h1>Historique de l'élevage</h1>

  <img src="assets/img/ha_alain.jpg" alt="Alain 16 ans">
  <p>
      Nous sommes un élevage familial et amateur, (2 à 3 nichés par an). <br>
      Notre objectif est de faire naître, des Malinois, conforme au standard, aptes à une utilisation sportive ou pratique mais pouvant aussi s’intégrer à une famille.
  </p>
  <p>
      Les origines de nos chiens sont principalement des deux Pottois, (G’Bibber, G’Vitou des deux Pottois…).
      Nous donnons une importance primordiale sur la sélection de nos <abbr title="femelles reproductrices">lices</abbr> (sociables, joueuses, explosifs, gros mordants.), mais aussi sur le choix des mâles.
  </p>
  <img src="assets/img/xavier.jpg" alt="Xavier des  deux Pottois">
  <p>
      Nous pratiquons une sélection sur l’ascendance (généalogie), sur les collatéraux (frères, sœurs) mais aussi sur la descendance… <br>
      <strong>Bon sang ne pourrait mentir.</strong>
  </p>
  <p>
      Tous nos chiots sont vendus pucés, vermifuges, vaccinés, test ADN et reçoivent un  <a href="https://www.srsh.be/la-srsh/" title="Société royale saint-Hubert">pedigree St Hubert</a>  "un chien de race n'est pas un snobisme mais un animal qui correspond à un standard défini (chien+.Com)". Ils sont contrôlés le lendemain de la naissance et quelques jours avant la vente par notre vétérinaire Marie Debiesme.</p>
</section>
