<h1>Nichées prévues</h1>
<h2>
    <span class="dateNichee">11/05/2015</span>
  </h2>

<section class="nichee">

  <div class="description">
    <div class="mere">
      <h2>
        Mère : <br />
        F'Hiroshima
      </h2>
      <img src="../../assets/img/elevage/LOSH1116953.jpg" alt="">
    </div>
    <div class="pere">
      <h2>
        Père : <br />
        Diesel V des Grottes de la Pleine
      </h2>
      <img src="../../assets/img/elevage/LOSH1142440.jpg" alt="">

    </div>
  </div>
</section>