.chiensElevage {
  max-width: 1200px;

  .carteID {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	  justify-content: space-between;

    .chien {
      position: relative;
      border: 2px solid $bleu;
      width: 100%;
      margin: 1rem;
      overflow: hidden;
      &:last-of-type{
        padding-bottom: 4rem;
      }

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        background-size: cover;
      }
    }
  }
}
